<!DOCTYPE html>

<title>New Category</title>

{% block body %}
    <h1>Create new Category</h1>

    {{ include('admin/page/category/_form.html.twig') }}

    <a href="{{ path('admin_list_categories') }}">back to list</a>
{% endblock %}
