<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('asset/css/style.css') }}" rel="stylesheet" />

    </head>

    <body>

    <header class="header">
        <nav class="header-nav">
            <ul>
                <li><a href="{{ path('admin_list_articles') }}">Gérer les articles </a></li>
            </ul>
        </nav>
    </header>

    {#
        vérifie si des messages flashes ont été enregistrés
        par un controleur. Si oui, on les affiche
    #}
        {% for message in app.flashes('success') %}
            <div class="success-message">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

    <footer class="footer">
    </body>



</footer>
</html>
