
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('asset/css/style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <header class="header">
            <nav class="header-nav">
                <a href="{{ path('home') }}">
                    <img class="logo" src="https://data.textstudio.com/output/sample/animated/4/1/5/5/news-1-5514.gif" alt="logo" />
                </a>

                <ul class="header-menu">
                    <li class="header-menu-item"><a href="{{ path('list_articles') }}">Articles</a></li>
                    <li class="header-menu-item"><a href="{{ path('list_categories') }}">Categories</a></li>

                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}

        <footer class="footer">

    </body>


</footer>
</html>
